@import "@digitalservice4germany/angie/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply ds-body-01-reg text-lg;
  }

  h1 {
    @apply ds-heading-01-reg mt-20;
  }
  h2 {
    @apply ds-heading-02-reg mb-24;
  }
  h3 {
    @apply ds-heading-03-reg mt-40 mb-10;
  }

  th,
  td {
    @apply p-10;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-bottom: 7px solid gray;

    &.active {
      border-bottom: 7px solid black;
    }
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-top: 7px solid gray;

    &.active {
      border-top: 7px solid black;
    }
  }
}
